doctype html
html
  head
    title Apple Dance Academy
    block scripts
    block style
  body
    nav#navbar.top
        ul 
            div#logo 
                img(src="/static/img/mainlogo.png", alt="IMg  not found")
                
            li #[a(href="/")  Home ]
            li #[a(href="/about") About]
            li #[a(href="/classinfo") Class Info]
            li #[a(href="/services") Services ]
            li #[a(href="/contact") contact us]
    block content
    footer#footer 
        | Copyright © 2024 AppleDanceAcademy.com
